@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#f2f2f2;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #f2f2f2;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.section{
	text-align: center;
}

/* Menu
 * --------------------------------------- */
#menu li {
	display:inline-block;
	float: right;
	margin: 0;
}
#menu li.active{
	background: rgba(255,33,00, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #fff;
}
#menu li.active a:hover{
	color: #fff;
}
#menu li:hover{
	background: rgba(255,66,00, 0.3);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	background-color: rgba(255,99,00,0.8);
}


.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}


/* Section 1
 * --------------------------------------- */
#section1 h1{
	color: #444;
}
#section1 p{
	color: #333;
	color: rgba(0,0,0,0.3);
}
#section1 img{
	margin: 20px 0;
	opacity: 0.7;
}
#csman{
	background-image: url(imgs/counterstrikemain.gif);
	top:200px;
	left:300px;
	max-width: 300px;
}
#alienware{
	background-image: url(imgs/Alienwaremain.gif);
	top:275px;
	left:600px;
	max-width: 300px;
}
#mouse{
	background-image: url(imgs/mousedell.gif);
	left:550px;
	top:420px;
	max-width: 80px;
}
#csman:hover,
#alienware:hover,
#mouse:hover 
{
		-webkit-filter: drop-shadow(0 10px 10px rgba(255,66,0,1));
		-moz-filter: drop-shadow(0 10px 10px rgba(255,66,0,1));
		-ms-filter: drop-shadow(0 10px 10px rgba(255,66,0,1));
		-o-filter: drop-shadow(0 10px 10px rgba(255,66,0,1));
		filter: drop-shadow(0 10px 10px rgba(255,66,0,1));
}
#csman,
#alienware,
#mouse{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-repeat: no-repeat;
	background-size:contain;
	margin: 0 auto;
}
#colors2,
#colors3{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-repeat: no-repeat;
	top:40px;
	left: 0;
	margin: 0 auto;
	right: 0;
	background-size:contain;
}
#colors2{
	background-image: url(imgs/events.png);

}

#colors3{
	max-width: 800px;
	right: 400px;
	background-image: url(imgs/Alienwaremain.gif);

}

/* Section 4
 * --------------------------------------- */
#section4 p{
	opacity: 0.6;
}

/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
#pp-nav.custom .pp-tooltip{
	color: #AAA;
}
